
<!-- Classroom assessments template -->
 <div>
<!-- Header Table -->
<table style="margin-bottom: -8px;">
    <tr>
        <td style="border-right:none; border-left:none; border-top: none; padding:8px; width:25%;">-- Stu-Name --</td>
        <td style="border-right:none; border-left:none; border-top: none; padding:8px; width:50%; text-align: center;">-- Book-Grade --</td>
        <td style="border-right:none; border-left:none; border-top: none; padding:8px; width:25%" >-- Date --</td>
    </tr>
</table>

<!-- Subsequent Rows Table -->
<table>
    <tr>
        <td style="text-align: center; text-align:center; width:-- 0.54 Inches --;">-- Index --</td>
        <td style="text-align:center">-- Edu-Content --</td>
        <td style="text-align: center; text-align:center; width:-- 0.54 Inches --;">-- Point --</td>
    </tr>
    <!-- Each row is mapped acording to following template. 
    <tr>
        <td style="text-align: center; vertical-align:top;">-- Index --</td>
        <td style="border-left:none;border-right:none; width:594.24;">
        -- Edu-Content --
        </td>
        <td style="text-align: center; vertical-align:top">-- Point --</td> 
    </tr>
    -->
<!-- Do not remove following line, that is used as a placeholder to replace new content -->
<!-- NEW CONTENT -->

    <tr>
        <td  style="text-align: center; text-align:center; width:-- 0.54 Inches --;"></td>
        <td>-- FOOTER SUM --</td>
        <td style="text-align: center; text-align:center; width:-- 0.54 Inches --;">-- SUM --</td>
    </tr>
</table>
</div>
            