
<!--
padding: 
    Shorthand property to set values for the thickness of the padding area. 
    If left is omitted, it is the same as right. 
    If bottom is omitted it is the same as top,
    if right is omitted it is the same as top.
    The value may not be negative.
    (Edge 12, Firefox 1, Safari 1, Chrome 1, IE 4, Opera 3)
-->
<div style="text-align: center;">--In The Name Of God--</div>
<div>
<!-- Paper header  -->
<table style="margin-bottom: -8px;">
    <tr>
        <td style="width:30%; padding:5px">--Student Name--: --StudentNameValue--<br><br>--Student Id--: --StudentIdValue--</td>
        <td rowspan="2" style="border-bottom:none; width:40%; text-align: center;">--Organisation Info--</td>
        <td style="width:30%; padding:5px" >--Academic Year--: --AcademicYearValue--<br>--Term--: --TermValue--<br>--Date--: --DateValue--</td>
    </tr>
    <tr>
        <td style="width:30%; padding:5px">--Teacher--: --TeacherValue--</td>
        <td style="width:30%; padding:5px" >--Time--: --TimeValue--</td>
    </tr>
    <tr>
        <td style="width:30%;">--Title--: --TitleValue--</td>
        <td style="width:40%; text-align: center;">--Field--</td>
        <td style="width:30%; padding:5px" >--Duration--: --DurationValue-- --Time Unit--</td>
    </tr>
</table>

<!-- Subsequent Rows Table -->
<table>
     <!-- Header of the paper(student name, assessment title, time)-->
    <tr>
        <td style="text-align:center;">--Row--</td>
        <td style="text-align:center;">--Header--</td>
        <td style="text-align:center;">--Score--</td>
    </tr>
<!-- NEW CONTENT PLACEHOLDER -->
<!-- Don not remove above line, that is used as a template to replace new content -->
    <tr>
        <td></td>
        <td style="text-align: end;">--Total Score--</td>
        <td style="text-align: center;">--TotalScoreValue--</td>
    </tr>

</table>
 </div>